<div id="<%= dom_id organizer %>">
  <p>
    <strong>Name:</strong>
    <%= organizer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= organizer.email_id %>
  </p>

  <p>
    <strong>Contact no:</strong>
    <%= organizer.contact_no %>
  </p>

</div>
