<h1>Editing organizer</h1>

<%= render "form", organizer: @organizer %>

<br>

<div>
  <%= link_to "Show this organizer", @organizer %> |
  <%= link_to "Back to organizers", organizers_path %>
</div>
